ProductMicroService/target/
ProductMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
ProductMicroService/.idea/modules.xml
ProductMicroService/.idea/jarRepositories.xml
ProductMicroService/.idea/compiler.xml
ProductMicroService/.idea/libraries/
ProductMicroService/*.iws
ProductMicroService/*.iml
ProductMicroService/*.ipr


UsersMicroService/target/
UsersMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

UsersMicroService/.idea/modules.xml
UsersMicroService/.idea/jarRepositories.xml
UsersMicroService/.idea/compiler.xml
UsersMicroService/.idea/libraries/
UsersMicroService/*.iws
UsersMicroService/*.iml
UsersMicroService/*.ipr



SpringCloudMicroService/target/
SpringCloudMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
SpringCloudMicroService/.idea/modules.xml
SpringCloudMicroService/.idea/jarRepositories.xml
SpringCloudMicroService/.idea/compiler.xml
SpringCloudMicroService/.idea/libraries/
SpringCloudMicroService/*.iws
SpringCloudMicroService/*.iml
SpringCloudMicroService/*.ipr



KafkaConsumerSender/target/
KafkaConsumerSender/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
KafkaConsumerSender/.idea/modules.xml
KafkaConsumerSender/.idea/jarRepositories.xml
KafkaConsumerSender/.idea/compiler.xml
KafkaConsumerSender/.idea/libraries/
KafkaConsumerSender/*.iws
KafkaConsumerSender/*.iml
KafkaConsumerSender/*.ipr
