ProductMicroService/target/
ProductMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
ProductMicroService/.idea/modules.xml
ProductMicroService/.idea/jarRepositories.xml
ProductMicroService/.idea/compiler.xml
ProductMicroService/.idea/libraries/
ProductMicroService/*.iws
ProductMicroService/*.iml
ProductMicroService/*.ipr


AuthMicroService/target/
AuthMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

AuthMicroService/.idea/modules.xml
AuthMicroService/.idea/jarRepositories.xml
AuthMicroService/.idea/compiler.xml
AuthMicroService/.idea/libraries/
AuthMicroService/*.iws
AuthMicroService/*.iml
AuthMicroService/*.ipr



UserMicroService/target/
UserMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

UserMicroService/.idea/modules.xml
UserMicroService/.idea/jarRepositories.xml
UserMicroService/.idea/compiler.xml
UserMicroService/.idea/libraries/
UserMicroService/*.iws
UserMicroService/*.iml
UserMicroService/*.ipr




SpringCloudMicroService/target/
SpringCloudMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
SpringCloudMicroService/.idea/modules.xml
SpringCloudMicroService/.idea/jarRepositories.xml
SpringCloudMicroService/.idea/compiler.xml
SpringCloudMicroService/.idea/libraries/
SpringCloudMicroService/*.iws
SpringCloudMicroService/*.iml
SpringCloudMicroService/*.ipr



KafkaConsumerSender/target/
KafkaConsumerSender/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
KafkaConsumerSender/.idea/modules.xml
KafkaConsumerSender/.idea/jarRepositories.xml
KafkaConsumerSender/.idea/compiler.xml
KafkaConsumerSender/.idea/libraries/
KafkaConsumerSender/*.iws
KafkaConsumerSender/*.iml
KafkaConsumerSender/*.ipr



UserProductsMicroService/target/
UserProductsMicroService/site/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
UserProductsMicroService/.idea/modules.xml
UserProductsMicroService/.idea/jarRepositories.xml
UserProductsMicroService/.idea/compiler.xml
UserProductsMicroService/.idea/libraries/
UserProductsMicroService/*.iws
UserProductsMicroService/*.iml
UserProductsMicroService/*.ipr


testGradleScala/.idea/libraries
testGradleScala/.gradle




